@model IEnumerable<sample.Models.Cart>
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    table {
        border-collapse: collapse;
    }

    tr {
        border: 1px ridge lightgray;
        border-left: none;
        border-right: none;
    }

        tr:first-child {
            border-top: none;
        }

    th {
        padding-right: 100px;
        padding-bottom: 20px;
    }

        th:first-child {
            padding-left: 20px;
        }

    td:first-child {
        padding-left: 20px;
    }
    tr:last-child {
        border-bottom:none;
    }

    td {
        padding-right: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    input[type="checkbox"] {
        pointer-events: none;
    }
</style>
<h1>View Cart</h1>

@if (Model.Count() > 0)
    
{<hr size="1" color:"gray">
<div>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(m => m.MenuItem.Name)</th>
            <th>@Html.DisplayNameFor(m => m.MenuItem.Price)</th>
            <th>@Html.DisplayNameFor(m => m.MenuItem.FreeDelivery)</th>
            <th>@Html.DisplayNameFor(m => m.MenuItem.Category.Name)</th>
            <th>Action</th>
        </tr>
        @foreach (var element in Model)
        {
            <tr>
                <td>@element.MenuItem.Name</td>
                <td>@element.MenuItem.Price</td>
                <td>@Html.CheckBoxFor(Model => element.MenuItem.FreeDelivery)</td>
                <td>@element.MenuItem.Category.Name</td>
                <td>@Html.ActionLink("Delete", "Delete", "Cart", new { id = element.MenuItem.Id }, null)</td>
            </tr>

        }
    </table></div><br /><br />
    <div>
    @Html.ActionLink("View menu items","Index","MenuItem",new { isAdmin=false},null)
        </div>
}
else
{ <p>No Items in cart.</p>@Html.ActionLink("View Menu Items", "Index", "MenuItem", new { isAdmin = false }, null)}

